<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{login/signin}">
<head>
    <meta charset="UTF-8">
    <title>Đăng nhập  admin</title>
</head>
<body>
<div layout:fragment="content">
    <form action="#" method="post" th:action="@{/thucHienDangNhap}" th:object="${user}" enctype="multipart/form-data">
        <div class="input-group input-group-outline my-3">
            <div class="col-md-12">
                <input type="text" autocomplete="off" class="form-control"
                       placeholder="Tên đăng nhập" th:field="*{tenDangNhap}"/>
            </div>
        </div>
        <div class="input-group input-group-outline mb-3">
            <div class="col-md-12">
                <input type="password" class="form-control"
                       placeholder="Mật khẩu" th:field="*{matKhau}"/>
            </div>
        </div>
        <div class="form-check form-switch d-flex align-items-center mb-3">
            <input class="form-check-input" type="checkbox" id="rememberMe">
            <label class="form-check-label mb-0 ms-2" for="rememberMe">Remember me</label>
        </div>
        <div class="text-center">
            <button th:href="@{#}" type="submit" name="btnDangNhap" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
        </div>
    </form>
</div>
</body>
</html>