<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Danh Mục</title>
</head>
<body th:fragment="sidebar">

<aside class="app-sidebar">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg" alt="User Image">
        <div>
            <p class="app-sidebar__user-name">Dang BQ</p>
            <p class="app-sidebar__user-designation">FullStack Dev</p>
        </div>
    </div>
    <ul class="app-menu">
        <li><a class="app-menu__item" th:href="@{trang-chu}"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Trang chủ</span></a></li>

        <li><a class="app-menu__item" th:href="@{quanly-sach}"><i class="app-menu__icon fa fa-book"></i><span class="app-menu__label">Quản lý sách</span></a></li>
        <li><a class="app-menu__item" th:href="@{sach-add}"><i class="app-menu__icon fa fa-address-book-o"></i><span class="app-menu__label">Thêm mới sách</span></a></li>

        <li class="treeview"><a class="app-menu__item" th:href="@{sach-add}" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Quản lý nhân viên</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" th:href="@{form-components.html}"><i class="icon fa fa-circle-o"></i> Nhân viên</a></li>
                <li><a class="treeview-item" th:href="@{form-custom.html}"><i class="icon fa fa-circle-o"></i> Phòng ban</a></li>
                <li><a class="treeview-item" th:href="@{form-samples.html}"><i class="icon fa fa-circle-o"></i> Chức vụ</a></li>
                <li><a class="treeview-item" th:href="@{form-notifications.html}"><i class="icon fa fa-circle-o"></i> Hệ số lương</a></li>
            </ul>
        </li>
        <li class="treeview is-expanded"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-th-list"></i><span class="app-menu__label">Tables</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" th:href="@{table-basic.html}"><i class="icon fa fa-circle-o"></i> Basic Tables</a></li>
                <li><a class="treeview-item active" th:href="@{table-data-table.html}"><i class="icon fa fa-circle-o"></i> Data Tables</a></li>
            </ul>
        </li>
        <li class="treeview"><a class="app-menu__item" th:href="@{#}" data-toggle="treeview"><i class="app-menu__icon fa fa-file-text"></i><span class="app-menu__label">Pages</span><i class="treeview-indicator fa fa-angle-right"></i></a>
            <ul class="treeview-menu">
                <li><a class="treeview-item" th:href="@{blank-page.html}"><i class="icon fa fa-circle-o"></i> Blank Page</a></li>
                <li><a class="treeview-item" th:href="@{page-login.html}"><i class="icon fa fa-circle-o"></i> Login Page</a></li>
                <li><a class="treeview-item" th:href="@{page-lockscreen.html}"><i class="icon fa fa-circle-o"></i> Lockscreen Page</a></li>
                <li><a class="treeview-item" th:href="@{page-user.html}"><i class="icon fa fa-circle-o"></i> User Page</a></li>
                <li><a class="treeview-item" th:href="@{page-invoice.html}"><i class="icon fa fa-circle-o"></i> Invoice Page</a></li>
                <li><a class="treeview-item" th:href="@{page-calendar.html}"><i class="icon fa fa-circle-o"></i> Calendar Page</a></li>
                <li><a class="treeview-item" th:href="@{page-mailbox.html}"><i class="icon fa fa-circle-o"></i> Mailbox</a></li>
                <li><a class="treeview-item" th:href="@{page-error.html}"><i class="icon fa fa-circle-o"></i> Error Page</a></li>
            </ul>
        </li>
    </ul>
</aside>
</body>
</html>