<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="latestnew">
<div class="container">
    <div class="row ipad-width">
        <div class="col-md-8">
            <div class="ads">
                <img th:src="@{images/uploads/ads2.png}" alt="" width="728" height="106">
            </div>
            <div class="title-hd">
                <h2>Tin tức</h2>
            </div>
            <div class="tabs">
                <ul class="tab-links-3">
                    <li class="active"><a href="#tab31">#Movies </a></li>
                    <li><a href="#tab32"> #TV Shows </a></li>
                    <li><a href="#tab33">  # Celebs</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab31" class="tab active">
                        <div class="row">
                            <div class="blog-item-style-1">
                                <img th:src="@{images/uploads/blog-it1.jpg}" alt="" width="170" height="250">
                                <div class="blog-it-infor">
                                    <p href="#">Vũ trụ Điện ảnh Marvel (tiếng Anh: Marvel Cinematic Universe, viết tắt: MCU)
                                        là thương hiệu truyền thông và vũ trụ chia sẻ của Mỹ tập trung vào một loạt các phim điện ảnh siêu anh hùng do
                                        Marvel Studios sản xuất. Nội dung các phim điện ảnh này đều dựa trên các nhân vật xuất hiện trong các bộ truyện tranh
                                        Mỹ do Marvel Comics xuất bản. Thương hiệu cũng bao gồm các phim truyền hình, phim ngắn và văn học. Cũng giống như
                                        Vũ trụ Marvel gốc trong truyện tranh,
                                        Vũ trụ Điện ảnh Marvel được sáng tạo thông qua việc kết hợp các yếu tố cốt truyện, bối cảnh, dàn diễn viên và nhân vật chung.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab32" class="tab">
                        <div class="row">
                            <div class="blog-item-style-1">
                                <img th:src="@{images/uploads/blog-it2.jpg}" alt="" width="170" height="250">
                                <div class="blog-it-infor">
                                    <h3><a href="#">Tab 2</a></h3>
                                    <span class="time">13 hours ago</span>
                                    <p>Exclusive: <span>Amazon Studios </span>has acquired Victoria Woodhull, with Oscar winning Room star <span>Brie Larson</span> polsed to produce, and play the first female candidate for the presidency of the United States. Amazon bought it in a pitch package deal. <span> Ben Kopit</span>, who wrote the Warner Bros film <span>Libertine</span> that has...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab33" class="tab">
                        <div class="row">
                            <div class="blog-item-style-1">
                                <img th:src="@{images/uploads/blog-it1.jpg}" alt="" width="170" height="250">
                                <div class="blog-it-infor">
                                    <h3><a href="#">Tab 3</a></h3>
                                    <span class="time">13 hours ago</span>
                                    <p>Exclusive: <span>Amazon Studios </span>has acquired Victoria Woodhull, with Oscar winning Room star <span>Brie Larson</span> polsed to produce, and play the first female candidate for the presidency of the United States. Amazon bought it in a pitch package deal. <span> Ben Kopit</span>, who wrote the Warner Bros film <span>Libertine</span> that has...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>