<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Layout-simple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<!-- Main Navigation -->
<div th:replace="layout/menu :: menu">...</div>

<!-- Content Section -->
<section layout:fragment="content">
    <p>This is filled by the content template.</p>
</section>

<!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <p class="text-muted">&copy; 2020 Stanford.com.vn. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- Optional Section -->
<th:block layout:fragment="optional" />
</body>
</html>