<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div layout:fagment="footer">
    <div id="templatemo_footer">

        <a href="subpage.html">Home</a> | <a href="subpage.html">Search</a> | <a
            href="subpage.html">Books</a> | <a href="#">New Releases</a> | <a
            href="#">FAQs</a> | <a href="#">Contact Us</a><br /> Copyright © 2022
        <a href="#"><strong>Stanford - Day kinh nghiem lap trinh</strong></a>
    </div>
</div>
</body>
</html>