<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="menu">
    <div id="templatemo_menu">
        <ul>
            <li><a href="TrangChu.jsp" class="current">Trang chủ</a></li>
            <li><a href="subpage.html">Tìm kiếm</a></li>
            <li><a href="MuaBanSach.jsp">Mua sách</a></li>
            <li><a href="#">Tin tức</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="GioHang.jsp">Giỏ hàng</a></li>
        </ul>
    </div>
</div>
</body>
</html>